In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Synthetic_SBA_Loans_more.csv')

In [3]:
df

,Applicant ID,Business Structure,Country,Location,NAICS,Business Ownership (1),Business Ownership (2),Business Ownership (3),Business Ownership (4),Business Ownership (5),...,Inventory Purchase,Real Estate Acquisition or Improvement,Business Acquisition or Buyout,Refinancing Existing Debt,Emergency Funds,Franchise Financing,Contract Financing,Licensing or Permits,Line of Credit Establishment,Eligibility
0,1,LLC,US,"Sterling Heights, MI",931190,100,0,0,0,0,...,False,False,True,False,False,True,True,True,False,[]
1,2,LLC,US,"Cleveland, OH",541511,69,31,0,0,0,...,True,False,True,False,False,False,False,False,False,[]
2,3,Franchise,US,"Springfield, MA",611420,100,0,0,0,0,...,False,True,False,True,True,True,True,True,False,[]
3,4,LLC,US,"New Orleans, LA",511110,100,0,0,0,0,...,False,True,True,True,True,False,False,False,True,[]
4,5,Franchise,US,"Bridgeport, CT",444130,100,0,0,0,0,...,True,True,False,False,True,False,False,True,True,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999995,9999996,Sole Proprietorship,US,"Boise, ID",532111,51,49,0,0,0,...,False,True,False,True,True,True,False,True,True,[]
9999996,9999997,Sole Proprietorship,US,"Salt Lake City, UT",931280,100,0,0,0,0,...,True,True,True,True,True,False,False,False,True,[]
9999997,9999998,S Corporation (S-Corp),US,"Winston-Salem, NC",722511,71,29,0,0,0,...,False,True,False,False,False,True,False,False,True,[]
9999998,9999999,LLC,US,"Naperville, IL",711320,71,29,0,0,0,...,False,True,False,False,True,True,False,True,True,['504']
9999999,10000000,LLC,US,"Garden Grove, CA",931260,52,48,0,0,0,...,False,True,False,True,True,True,False,False,True,"['7(a)', '504']"

In [4]:
df['Eligibility'].value_counts()

Eligibility
[]                 7892867
['504']            1126362
['7(a)', '504']     595656
['Express']         354581
['8(a)']             30534
Name: count, dtype: int64

In [5]:
# Create new target column
df['Target'] = df['Eligibility'].apply(lambda x: 1 if '7(a)' in x else 0)

# Verify results
print(df[['Eligibility', 'Target']].head())

  Eligibility  Target
0          []       0
1          []       0
2          []       0
3          []       0
4          []       0

In [6]:
df = df.drop(columns=['Eligibility', 'Applicant ID', 'Location'])

In [7]:
df = df.rename(columns={'Target': 'Eligibility'})

In [8]:
df.head()

,Business Structure,Country,NAICS,Business Ownership (1),Business Ownership (2),Business Ownership (3),Business Ownership (4),Business Ownership (5),Personal Credit Score,Business Credit Score,...,Inventory Purchase,Real Estate Acquisition or Improvement,Business Acquisition or Buyout,Refinancing Existing Debt,Emergency Funds,Franchise Financing,Contract Financing,Licensing or Permits,Line of Credit Establishment,Eligibility
0,LLC,US,931190,100,0,0,0,0,470,149,...,False,False,True,False,False,True,True,True,False,0
1,LLC,US,541511,69,31,0,0,0,481,191,...,True,False,True,False,False,False,False,False,False,0
2,Franchise,US,611420,100,0,0,0,0,408,123,...,False,True,False,True,True,True,True,True,False,0
3,LLC,US,511110,100,0,0,0,0,809,123,...,False,True,True,True,True,False,False,False,True,0
4,Franchise,US,444130,100,0,0,0,0,703,145,...,True,True,False,False,True,False,False,True,True,0

In [9]:
# Creating Derived features

df["Business_Credit_Score_Margin"] = df["Business Credit Score"] - 160
df["Personal_Credit_Score_Margin"] = df["Personal Credit Score"] - 680
df["DSCR_Margin"] = df["DSCR (latest year)"] - 1.15
df["Loan_Amount_Margin"] = 5000000 - df["Loan Amount"]

In [10]:
df.drop(columns=['Country', 'NAICS', 'For Profit', 'Fast Approval'], inplace=True)

In [11]:
df = df[df["Eligibility"] == 1]

In [12]:
for col in df.columns:
    print(col)
    print(df[col].unique()[:5])
    print(df[col].nunique())
    print()

Business Structure
['S Corporation (S-Corp)' 'Sole Proprietorship' 'LLC' 'Partnership'
 'Franchise']
7

Business Ownership (1)
[54 31 80 68 50]
58

Business Ownership (2)
[46 27 20 32 50]
32

Business Ownership (3)
[ 0 21 24 30 22]
15

Business Ownership (4)
[ 0 21 20 22 23]
7

Business Ownership (5)
[ 0 20]
2

Personal Credit Score
[709 693 761 700 749]
170

Business Credit Score
[189 162 185 164 181]
40

Annual Revenue (2 years ago)
[1752000 2522000 2203000 3106000 3211000]
4851

Annual Revenue (1 year ago)
[2685000 4399000 2065000 2541000 2429000]
4851

Annual Revenue (latest year)
[2787000 2798000 4767000  844000 3876000]
4851

Net Profit Margin
[44.75 24.77 60.56 48.88 36.04]
9871

Business Debt (2 years ago)
[ 640085  431651  236045 2353554 2162740]
522744

Business Debt (1 year ago)
[1244293  710867  836809  586560 1957956]
522487

Business Debt (latest year)
[ 872150  545730 1899189  322326 1154551]
512444

NOI (2 years ago)
[ 953726  599994  339904 2753658 1665309]
534462

NOI (1 year ago)
[1742010  824605 1355630  610022 2232069]
534305

NOI (latest year)
[1247174  693077 2886767  412577 1397006]
533750

DSCR (2 years ago)
[1.49 1.39 1.44 1.17 0.77]
161

DSCR (1 year ago)
[1.4  1.16 1.62 1.04 1.14]
161

DSCR (latest year)
[1.43 1.27 1.52 1.28 1.21]
86

Industry Experience
[ 5 18 10  0 17]
21

Managerial Experience
[20  3  4  1  8]
21

Years in Business
[ 1 13  7  8  9]
16

Collateral Availability
[ True False]
2

Loan Amount
[4445000  775000 4405000 1070000 1835000]
900

Acquisition Request
[False  True]
2

Working Capital
[False  True]
2

Business Expansion
[False  True]
2

Equipment Purchase or Leasing
[ True False]
2

Inventory Purchase
[ True False]
2

Real Estate Acquisition or Improvement
[False  True]
2

Business Acquisition or Buyout
[ True False]
2

Refinancing Existing Debt
[False  True]
2

Emergency Funds
[ True False]
2

Franchise Financing
[False  True]
2

Contract Financing
[ True False]
2

Licensing or Permits
[False  True]
2

Line of Credit Establishment
[False  True]
2

Eligibility
[1]
1

Business_Credit_Score_Margin
[29  2 25  4 21]
40

Personal_Credit_Score_Margin
[29 13 81 20 69]
170

DSCR_Margin
[0.28 0.12 0.37 0.13 0.06]
86

Loan_Amount_Margin
[ 555000 4225000  595000 3930000 3165000]
900

In [13]:
df.dtypes

Business Structure                         object
Business Ownership (1)                      int64
Business Ownership (2)                      int64
Business Ownership (3)                      int64
Business Ownership (4)                      int64
Business Ownership (5)                      int64
Personal Credit Score                       int64
Business Credit Score                       int64
Annual Revenue (2 years ago)                int64
Annual Revenue (1 year ago)                 int64
Annual Revenue (latest year)                int64
Net Profit Margin                         float64
Business Debt (2 years ago)                 int64
Business Debt (1 year ago)                  int64
Business Debt (latest year)                 int64
NOI (2 years ago)                           int64
NOI (1 year ago)                            int64
NOI (latest year)                           int64
DSCR (2 years ago)                        float64
DSCR (1 year ago)                         float64
DSCR (latest year)                        float64
Industry Experience                         int64
Managerial Experience                       int64
Years in Business                           int64
Collateral Availability                      bool
Loan Amount                                 int64
Acquisition Request                          bool
Working Capital                              bool
Business Expansion                           bool
Equipment Purchase or Leasing                bool
Inventory Purchase                           bool
Real Estate Acquisition or Improvement       bool
Business Acquisition or Buyout               bool
Refinancing Existing Debt                    bool
Emergency Funds                              bool
Franchise Financing                          bool
Contract Financing                           bool
Licensing or Permits                         bool
Line of Credit Establishment                 bool
Eligibility                                 int64
Business_Credit_Score_Margin                int64
Personal_Credit_Score_Margin                int64
DSCR_Margin                               float64
Loan_Amount_Margin                          int64
dtype: object

In [15]:
Data Preparation
# Convert bool columns to int
bool_cols = balanced_df.select_dtypes(include='bool').columns
balanced_df[bool_cols] = balanced_df[bool_cols].astype(int)

# Define features and target
X = balanced_df.drop(columns=['Eligibility'])
y = balanced_df['Eligibility']

In [16]:
Preprocessing Pipeline
categorical_features = ['Business Structure']

preprocessor = ColumnTransformer([
    ('onehot', OneHotEncoder(handle_unknown='ignore'), categorical_features)
], remainder='passthrough')